startup_commands		toggle_custom_color

custom_color_contrast 1
custom_color_mode_empty_background_color #292929
page_separator_width 0
custom_background_color #262626
custom_text_color #ffffff
search_highlight_color #FF6188
status_bar_color #A9DC76
status_bar_text_color #1d2021

font_size			12
ui_font				JetBrainMono Nerd Font

status_bar_font_size    	12

ruler_padding 1.0
ruler_x_padding 5.0

should_launch_new_window 1
